* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 150px;
    height: 150px;
}
