* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loaded .loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

.loaded .loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    z-index: 1001;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin linear 2s infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000000;
    z-index: 1000;
}

.loader-wrapper .loader-section.section-left {
    left: 0;
}

.loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded .loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
}

.loaded .loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
}

.loaded .loader-wrapper .loader-section.section-right,
.loaded .loader-wrapper .loader-section.section-left {
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
